$section-padding-x: 20px;



.section-item{
  margin-left: calc(var(--bs-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--bs-gutter-x) * 0.5 * -1);
  &:not(.section-item-padding-x-none){
    padding: $section-padding-x;
  }
  &:not(.section-item-border-none){
    border-bottom: 1px solid rgba(109, 144, 155, 0.2);
  }
  &.section-item-full-height{
    height: 100%;
  }
  &.section-item-padding-x-none{
    //padding-top: $section-padding-x;
    padding-bottom: $section-padding-x;
    .sub-section-head{
      padding-left: $section-padding-x;
      padding-right: $section-padding-x;
    }
  }
}
.section-tabs{
  margin-left: calc(var(--bs-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--bs-gutter-x) * 0.5 * -1);
}


.section-header{
  margin: 0;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  .section-header-title{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    color: #141414;
  }
}
.section-form{
  margin: 0;
}

.section-header {
  + .section-form{
    margin-top: 20px;
  }
}

.sub-section {
  margin: 0;
}

.sub-section-head {
  margin: 0 0 16px;
  .sub-section-head-title{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #000000;
  }
}

.sub-section-content {
  margin: 0;
}



.scroller-container {
  margin-left: calc(var(--bs-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--bs-gutter-x) * 0.5 * -1);
  height: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0;
  }

  .section-item{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
