@import 'views/common.module.scss';

/*
.search-container {
  width: 100%;
  border-bottom: 1px solid #E4E4E4;
  :global(.search) {
    width: 100% !important;
  }

  :global(.input) {
    width: 100% !important;
  }
}
*/


