$header-height: 75px;
$default-padding-left: 200px;
$view-container-width: 680px;
$sidebar-menu-width: 470px;

$transition-default: 0.3s;

$container-border-left: 1px solid rgba(109, 144, 155, 0.2);
$container-border-right: 1px solid rgba(109, 144, 155, 0.2);

$section-item-margin: calc(var(--bs-gutter-x) * 0.5 * -1);
